/* @import "../../deps/phoenix_live_view/assets/css/live_view.css"; */
/* This file is for your main application css. */

@import "./phoenix.css";

.elixir-codeblock{
  display: block; 
  height: 90vh;
  width: 50vw;
  background-color: #e1e1e1;
  margin-right: 2em;
  float: left;
}
.result-block{
  float: left;
  height: 90vh;
  width: 35vw;
  margin:0;
  padding: 6px;
  background-color: black;
  border-style: solid;
}

.empty {
  border-color: black;
}
.ok {
  border-color: green;
  color: lightgreen;
}
.error {
  border-color: red;
  color: lightcoral;
}